.user-info h1 {
  font-size: 1.7rem;
}

.user-info h3 {
  font-size: 1.1rem;
}

.user-info p {
  font-size: 1.1rem;
  margin: 5px 20%;
}

.user-main {
  display: flex;
  width: 70vw;
  min-height: 20vh;
  height: auto;
  margin: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 20px 30px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
  height: 20vh;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media screen and (max-width: 900px) {
  .user-main {
    width: 90vw;
  }

  .user-info {
    width: 70vw;
  }
}
